{% extends "cabecalho.html" %}

{% block title %}
    TCC MBA USP/ESALQ - Análise de site
{% endblock %}

{% block content %}


    <h3>Todos os resultados de análise de sites</h3>

    <br>
        <div class="left1">
            <h4>Insira URL do site a ser analisado:</h4>
            <form action="/todos_resultados_analise_site/" method="POST" style="display: inline;">
                {% csrf_token %}
                {{ form }}
                <input type="submit" name='analisar' value="Analisar" style="display: inline;">
            </form>

            <br><br>------------------------------<br><br>

            <h4>Sites analisados e respectivas violações</h4>
            Sites com mais violação:
            <ul>
                {% for site in site_mais_violacao %}
                    <li><a href="https://{{ site }}"/>{{ site }}</a></li>
                {% endfor %}
            </ul>
            <br>
            Número de violações: {{ maior_numero_violacoes }}
            <br><br>------------------------------<br><br>

            Total de sites analisados: {{ todos_ras|length }}
            <br><br>

            {% for k, lista in todos_ras.items %}
                <form action="" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="k" value="{{ k }}">
                    <input class="fa fa-trash-o" name="delete" type="submit" value="Delete"/>
                </form> -
                <button onclick="myFunction('{{ k }}')" id="btn{{ k }}">&#11166;
                </button>
                ({{ lista.0|length }})
                <a href="https://{{ k }}"/>{{ k }}</a>
                <div id="{{ k }}" style="display: none;">
                    <table>
                        <tr>
                            <th>Violações axe-core</th>
                            <th>Critérios reprovados WCAG</th>
                        </tr>
                        <tr>
                            <th align="left" style="padding: 5px">
                                <ul>
                                    {% for v in lista.0 %}
                                        <a href="https://dequeuniversity.com/rules/axe/4.10/{{ v }}"/>
                                            <li>{{ v }}</li>
                                        </a>
                                    {% endfor %}
                                </ul>
                            </th>
                            <th align="left" style="padding: 5px">
                                <ul>
                                    {% for c in lista.1 %}
                                        <li>{{ c }}</li>
                                    {% endfor %}
                                </ul>
                            </th>
                        </tr>
                    </table>
                </div>
                <br>
            {% endfor %}
        </div>
        <div class="center1">
            <h4>Violações encontradas ({{ todos_acv|length }})</h4>
            {% for acv in todos_acv %}
                <ul>
                    <li>
                        <b>Violação:</b>
                            <a href="https://dequeuniversity.com/rules/axe/4.10/{{ acv.violacao }}"/>
                                {{ acv.violacao }}
                            </a><br>
                        <b>Impacto:</b> {{ acv.impact }}<br>
                        <b>Descrição:</b> {{ acv.description }}
                    </li>
                </ul>
            {% endfor %}
        </div>
        <div class="right1">
            <b>Número de ocorrências de cada violação:</b><br><br>
            <table>
                <tr class="first_tr">
                    <th align="left"><b>Violação ({{ numero_ocorrencias_violacao|length }})</b></th>
                    <th align="right"><b>Número de ocorrências</b></th>
                </tr>
                {% for k, v in numero_ocorrencias_violacao.items %}
                    <tr>
                        <th align="left">
                            <a href="https://dequeuniversity.com/rules/axe/4.10/{{ k }}"/>
                                {{ k }}
                            </a>
                        </th>
                        <th align="right">{{ v }}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>

{% endblock %}